body {
	background: linear-gradient(89deg, #3ffb63 0%, #516efb 100%);
	font-family: 'Courier New', Courier, monospace;
}
button {
	cursor: pointer;
}
.particles {
	position: fixed;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: -1;
}